@import "latte.css";

* {
  font-family: monospace;
  font-size: 10pt;
}

#waybar {
  background: @surface0;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 0;
  margin: 5px;
  background-color: @base;
  margin-left: 1rem;
}

#workspaces button {
  border-radius: inherit;
}

#workspaces button.visible {
  background-color: @overlay0;
}

#workspaces button.focused {
  color: @base;
  background-color: @blue;
}

#mode,
#scratchpad,
#window,
#idle_inhibitor,
#pulseaudio,
#backlight,
#battery,
#clock,
#tray {
  color: @text;
  background-color: @base;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#waybar.empty #window {
  background: none;
}

#idle_inhibitor.activated {
  color: @blue;
}

#battery.charging, #battery.plugged {
  color: @blue;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio.muted {
  color: @yellow;
}

#tray {
  margin-right: 1rem;
}
