@import "catppuccin-mocha.css";

* {
  font-family: monospace;
  font-size: 10pt;
}

#waybar,
#workspaces,
#workspaces button,
#mode,
#scratchpad,
#window,
#idle_inhibitor,
#pulseaudio,
#backlight,
#network,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray {
  all: unset;
  color: @text;
  padding: 0.25rem 1rem;
}

#waybar {
  background: transparent;
}

#workspaces {
  padding: 0;
  border: none;
  border-radius: 0;
  color: @text;
  background-color: transparent;
}

#workspaces button {
  border: none;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
  color: @text;
  background-color: @base;
}

#workspaces button:hover {
  background: inherit;
}

#workspaces button.visible {
  background-color: @overlay0;
}

#workspaces button.focused {
  color: @base;
  background-color: @mauve;
}

#workspaces button.urgent {
  color: @base;
  background-color: @red;
}

#mode {
  color: @base;
  background-color: @rosewater;
}

#window {
  color: @text;
  background: @base;
}

#waybar.empty #window {
  background: none;
}

#clock {
  color: @text;
  background-color: @base;
}

#idle_inhibitor {
  color: @text;
  background-color: @overlay0;
}

#idle_inhibitor.activated {
  color: @text;
  background-color: @base;
}

#battery {
  color: @base;
  background-color: @pink;
}

#battery.charging, #battery.plugged {
  color: @base;
  background-color: @blue;
}

#battery.warning:not(.charging) {
  color: @base;
  background-color: @yellow;
}

#battery.critical:not(.charging) {
  color: @base;
  background-color: @red;
}

#pulseaudio {
  color: @base;
  background-color: @teal;
}

#pulseaudio.muted {
  color: @text;
  background-color: @overlay0;
}

#backlight {
  color: @base;
  background-color: @yellow;
}

#network {
  color: @base;
  background-color: @green;
}

#network.disconnected {
  color: @base;
  background-color: @yellow;
}

#cpu {
  color: @base;
  background-color: @lavender;
}

#memory {
  color: @base;
  background-color: @mauve;
}

#temperature {
  color: @base;
  background-color: @sky;
}

#temperature.critical {
  color: @base;
  background-color: @red;
}

#tray {
  background-color: @base;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  background-color: @red;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    padding-left: 0;
}
